.icon {
    width: 7rem;
    border-radius: 50%;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.Name {
    font-size: 5em;
    font-family: "Candara Light", serif;
    font-weight: 900;
}

.love {
    font-family: Mistral, cursive;
    font-weight: 400;
    font-size: xx-large;
}

@font-face {
    font-family: "Zhizn";
    src: local("Zhizn"), url("css/ofont.ru_Zhizn.ttf");
}

.title {
    margin: 1rem 2rem 0 2rem;
}

.navigation-ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 2rem;
    padding: 0;
    background-color: salmon;
    filter: brightness(1.2);
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: Zhizn, cursive;
    /*font-weight: 900;*/
}

.navigation-li {
    /*display: inline;*/
    margin: 0.5rem 4rem;
    /*float: left;*/
}

.navigation-a {
    display: flex;
    color: black;
    font-size: 1.3rem;
    font-weight: 900;
    width: 5rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

footer {
    background-color: salmon;
    filter: brightness(1.2);
    margin: 2rem;
    padding: 0.001rem 1.2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem;
    font-family: Zhizn, cursive;
    font-weight: bolder;
    font-size: x-large;
}


.product-card {
    display: inline-flex;
    flex-direction: column;
    margin: 2rem;
    border: 1px solid salmon;
    /*float: left;*/
    width: 17rem;
}

.product-card:hover {
    border: 2px solid salmon;
}

.product-card img {
    width: 80%;
    height: auto;
    margin: 1rem 1.5rem 0 1.5rem;
}

.product-card-desc {
    margin: 0.5rem;
    text-align: center;
    font-size: small;
}

.product-card-title {
    margin: 1rem 1rem 0 1rem;
    font-family: cursive;
    font-weight: 900;
    text-align: center;
}


.product-card-footer {
    margin: 1rem 2rem;
}

.product-card-button {
    float: right;
    block-size: 2.5rem;
    background-color: salmon;
    filter: brightness(1.2);
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15%;
}

.product-card-button:active {
    border: salmon;
}

.product-card-button:active:after {
    border: black;
}

.button-cart {
    float: right;
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    background-color: salmon;
    filter: brightness(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.button-cart:active {
    width: 2.7rem;
    height: 2.7rem;
    margin: 0.65rem;
}

.button-cart:active:after {
    width: 3rem;
    height: 3rem;
}

.button-enter {
    float: right;
    width: 4rem;
    height: 1.5rem;
    margin: 1rem 2rem;
    padding: 0.2rem 0 0 0;
    border-radius: 40%;
    border: salmon;
    box-shadow: 0 0 10px salmon;
    text-align: center;
    text-decoration: none;
    font-family: "Candara Light", cursive;
    font-size: large;
    font-weight: bolder;
    color: black;
}
