.icon {
    width: 7rem;
    border-radius: 50%;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.Name {
    font-size: 5rem;
    font-family: "Candara Light", serif;
    font-weight: 900;
}

.love {
    font-family: Mistral, cursive;
    font-weight: 400;
    font-size: xx-large;
}

@font-face {
    font-family: "Zhizn";
    src: local("Zhizn"), url("css/ofont.ru_Zhizn.ttf");
}

.title {
    margin: 1rem 2rem 0 2rem;
}


nav {
    /*position: absolute;*/
    position: sticky;
    top: 0;
}

.navigation-ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 2rem;
    padding: 0;
    background-color: salmon;
    filter: brightness(1.2);
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: Zhizn, cursive;
    /*font-weight: 900;*/
}

.navigation-li {
    /*display: inline;*/
    /*margin: 0.5rem 4rem;*/
    margin: 0.5rem 3.75rem;
    /*float: left;*/
}

.navigation-a {
    display: flex;
    color: black;
    font-size: 1.3rem;
    font-weight: 900;
    width: 5rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

footer {
    background-color: salmon;
    filter: brightness(1.2);
    margin: 2rem;
    padding: 0.001rem 1.2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


section {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    margin: 2rem;
    font-family: Zhizn, cursive;
    font-weight: bolder;
    font-size: x-large;
}


.product-card {
    display: inline-flex;
    flex-direction: column;
    margin: 2rem;
    border: 1px solid salmon;
    /*float: left;*/
    width: 17rem;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/
    box-shadow: 0 0 10px salmon;

}

.product-card:hover {
    /*border: 2px solid salmon;*/
    border-color: cornflowerblue;
    box-shadow: 0 0 10px cornflowerblue;
}

.product-card img {
    width: 14rem;
    height: 14rem;
    margin: 1rem 1.5rem 0 1.5rem;
}

.product-card-desc {
    margin: 0.5rem;
    text-align: center;
    font-size: small;
}

.product-card-title {
    margin: 1rem 1rem 0 1rem;
    font-family: cursive;
    font-weight: 900;
    text-align: center;
}


.product-card-footer {
    display: flex;
    margin: 1rem 2rem;
    /*flex-direction: ;*/
    justify-content: space-between;
    align-items: center;
}

.product-card-button {
    float: right;
    height: 2.5rem;
    width: 7rem;
    background-color: cornflowerblue;
    font-size: large;
    font-family: cursive;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: blue;

}

.product-card-button:active {
    /*border: salmon;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /*height: 2.25rem;*/
    /*width: 6.3rem;*/
}

.product-card-button:active:after {
    border: black;
}

.button-cart {
    float: right;
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    background-color: salmon;
    filter: brightness(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.button-cart:active {
    width: 2.7rem;
    height: 2.7rem;
    margin: 0.65rem;
}

.button-cart:active:after {
    width: 3rem;
    height: 3rem;
}

.button-enter {
    float: right;
    width: 4rem;
    height: 1.5rem;
    margin: 1rem 2rem;
    padding: 0.2rem 0 0 0;
    border-radius: 40%;
    border: salmon;
    /*box-shadow: 0 0 10px salmon;*/
    box-shadow: 0 0 10px cornflowerblue;
    text-align: center;
    text-decoration: none;
    font-family: "Candara Light", cursive;
    font-size: large;
    font-weight: bolder;
    color: black;
}

@media screen and (max-width: 950px) {
    .header-buttons {
        display: inline-flex;
        flex-direction: column;
        justify-content: right;
        float: right;
        align-items: center;
    }
}

@media screen and (max-width: 850px) {
    .Name {
        font-size: 3rem;
    }

    .icon {
        width: 4.5rem;
        height: 4.1rem;
    }

    .navigation-a {
        font-size: medium;
    }

    .navigation-li {
        margin: 0.5rem 1rem;
    }

    .button-enter {
        height: 1rem;
        width: 2.25rem;
        font-size: x-small;
        margin: 1rem 0;
    }

    .button-cart {
        height: 2.7rem;
        width: 2.7rem;
        margin: 0;
    }
}

@media screen and (max-width: 550px) {
    body {
        margin: 0 -1rem;
    }
}

.header-buttons {
}

header {
    background-color: white;
}


section p {
    margin: 4rem 0 0 4rem
}

.even {
    background-color: salmon;
    margin: 0.5rem;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.odd {
    background-color: cornflowerblue;
    margin: 0.5rem;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

#notification {
    position: fixed;
    top: 5rem;
    right: 2.5rem;
    padding: 1rem;
    background-color: rgba(175, 210, 250, 0.8);
    /*border: 1px solid #ccc;*/
    display: none;
}

.active {
    color: mediumblue;
    font-weight: bold;
    text-decoration: underline;
}

.navigation-a:hover {
    color: blue;
}

.pizza {

}

#form {
    margin: 20px;
    padding: 20px;
    background-color: white;
    width: 300px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.form-button {
    margin: 0.5rem 0;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: salmon;
    font-family: cursive;
    cursor: pointer;
}

#results {
    margin: 20px;
}
#table {
    width: 100%;
    border-collapse: collapse;
}
.table-header {
    background-color: salmon;
}
th, td {
    padding: 10px;
    font-family: Zhizn, cursive;
    border-bottom: 1px solid #ccc;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.ratingName{
    margin: 1rem 2rem 0 2rem;
    font-size: 3rem;
    font-family: "Candara Light", serif;
    font-weight: 900;
}